html,
body {
	width: 100%;
	height: 100%;
	font-family:"Source Sans Pro",-apple-system,BlinkMacSystemFont,'Hiragino Sans','Hiragino Kaku Gothic ProN',Meiryo,sans-serif
}
h2 {
	margin: 0;
}
.description {
	width: 80%;
	margin-left: 2.5%;
}
.lastdata {
	font-size: 12px;
}
.date {
	font-size: 34px;
	margin: 0 auto;
	/* display: inline-block; */
	width: 3em;
	text-align: center;
}
.small {
	font-size: 0.8em;
}

#legend {
	margin-top: 40px;
	padding: 0;
}
#legend li {
	display: inline;
}
#legend li::before {
	display: inline-block;
	content: " ";
	width: 1em;
	height: 1em;
	margin-left: 0.5em;
	margin-right: 0.2em;
}

#legend li.confirmed::before {
	background-color: gray;
}
#legend li.recovered::before {
	background-color: lime;
}
#legend li.death::before {
	background-color: red;
}

.chart {
	width: 100%;
	height:300px;
	background-color: #fff;
}
.bar0 {
	fill: gray;
}
.bar1 {
	fill: lime;
}
.bar2 {
	fill: red;
}
#contents {
	margin-bottom: 25%;
	width: 99%;
}
#ui {
	position: fixed;
	top: 0;
	width: 98%;
	background-color: white;
	padding: 10px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
}

/* axis */
.axisLayer .axis {
}
.axisLayer .axis .domain {
	stroke: #333333;
}
.axisLayer .tick line {
	stroke: #333333;
	stroke-width: 1px;
}
.axisLayer .tick text {
	fill: #333333;
	/*font-family: Oswald, sans-serif;*/
	font-size: 12px;
	letter-spacing: .05em;
}

/* label */
.axisLayer .label {
	font-size: 12px;
	font-weight: normal;
	letter-spacing: .05em;
}

/* grid */
.backgroundLayer .grid line {
	stroke: #aaa;
	stroke-dasharray: 3, 3;
}

/* grind のベースライン */
.backgroundLayer .grid .domain {
	stroke: none;
}

.input-range::-webkit-slider-thumb {
	width: 35px;
	height: 35px;
}

div.tooltip {
	position: absolute;
	min-width: 80px;
	padding: 8px;
	font: 11px sans-serif;
	background: #fff;
	border: 1px solid #666;
	border-radius: 2px;
	pointer-events: none;
}

div.tooltip div {
	text-align: center;
}
div.tooltip .Confirmed {
	color: gray;
}

div.tooltip .recovered {
	color: green;
}
div.tooltip .death{
	color: red;
}
div.tooltip .data{
	text-align: left;
}


.guidRect {
	fill:pink;
	fill-opacity: 0.3;
}



.button-radio {
	margin: 10px;
  }

  .button-radio input[type="radio"] {
	display:none; 
  }

  .button-radio label {
	width: 100px;
	text-align: center;
	display:inline-block;
	color:#000;
	border: 1px solid black;
	background-color:#fff;
	padding:5px 10px;
  }

  .button-radio input[type="radio"]:checked + label {
	color:white;
	background-color:#000;
  }
